n8n_nf_bundle
[
  {
    "name": "NF \u2014 RevenueSeeder v1",
    "nodes": [
      {
        "parameters": {
          "triggerTimes": {
            "item": [
              {
                "mode": "everyDay",
                "hour": 9,
                "minute": 0
              }
            ]
          }
        },
        "type": "n8n-nodes-base.cron",
        "typeVersion": 1,
        "position": [
          -960,
          0
        ],
        "name": "Cron 09:00 PT"
      },
      {
        "parameters": {
          "jsCode": "\nconst HUB_TOKEN = \"NOTEFINDER_SYNC_TOKEN_01\";\nconst BRAND = 'NoteFinder';\nconst WIW = 'whatitsworth.notefinder.app';\nconst TODAY = new Date();\nconst yyyymmdd = TODAY.toISOString().slice(0,10).replace(/-/g,'');\nconst UTM = 'wiw_' + yyyymmdd;\nconst RETRY = {max_retries:5,strategy:'exponential',backoff_ms:15000,jitter:true,ttl_s:86400,dlq:'dlq'};\nfunction fnv1a(str){let h=2166136261>>>0;for(let i=0;i<str.length;i++){h^=str.charCodeAt(i);h=Math.imul(h,16777619);}return (h>>>0).toString(16);}\nconst ig=[\n  `Homeowners \u2014 free instant price report: https://${WIW}?utm_source=instagram&utm_medium=organic&utm_campaign=${UTM}`,\n  `What\u2019s your home actually worth? Get comps in 60 seconds. https://${WIW}?utm_source=instagram&utm_medium=organic&utm_campaign=${UTM}`,\n  `Thinking of selling? Don\u2019t guess. Get an instant price report \u2192 https://${WIW}?utm_source=instagram&utm_medium=organic&utm_campaign=${UTM}`\n];\nconst xposts=[\n  `Homeowners: instant comps & price report \u2192 https://${WIW}?utm_source=x&utm_medium=organic&utm_campaign=${UTM}`,\n  `Selling soon? Get a 60-sec price report first \u2192 https://${WIW}?utm_source=x&utm_medium=organic&utm_campaign=${UTM}`\n];\nconst pins=[\n  {title:'What\u2019s It Worth? Free Home Report', text:`Get comps + price in 60 seconds \u2192 https://${WIW}?utm_source=pinterest&utm_medium=organic&utm_campaign=${UTM}`},\n  {title:'Instant Home Valuation',           text:`Stop guessing your home\u2019s value. https://${WIW}?utm_source=pinterest&utm_medium=organic&utm_campaign=${UTM}`}\n];\nconst smsText=`Free instant home price report \u2192 https://${WIW}?utm_source=sms&utm_medium=owned&utm_campaign=${UTM}`;\nconst jobs=[];\nig.forEach(t=> jobs.push({queue:'ops',priority:'high', job:{type:'command.create',to:'RouterAgent',retry:RETRY,idempotency_key:fnv1a('instagram|'+BRAND+'|'+t), payload:{route:'instagram',brand:BRAND,kind:'caption',text:t}}}));\npins.forEach(p=> jobs.push({queue:'ops',priority:'high', job:{type:'command.create',to:'RouterAgent',retry:RETRY,idempotency_key:fnv1a('pinterest|'+BRAND+'|'+p.title+'|'+p.text), payload:{route:'pinterest',brand:BRAND,kind:'pin',title:p.title,text:p.text}}}));\nxposts.forEach(t=> jobs.push({queue:'ops',priority:'normal', job:{type:'command.create',to:'RouterAgent',retry:RETRY,idempotency_key:fnv1a('x|'+BRAND+'|'+t), payload:{route:'x',brand:BRAND,kind:'copy',text:t}}}));\njobs.push({queue:'ops',priority:'normal', job:{type:'command.create',to:'RouterAgent',retry:RETRY,idempotency_key:fnv1a('sms|'+BRAND+'|'+smsText), payload:{route:'sms',brand:BRAND,kind:'sms',text:smsText}}});\n// Shopify boosters\njobs.push({queue:'shopify',priority:'high', job:{type:'command.create',to:'ShopifyAgent',idempotency_key:fnv1a('shopify|announcement_bar'), payload:{actions:[{action:'set_announcement_bar',text:'Free instant home price report \u2192 What\u2019s It Worth',href:'/pages/tiktok'},{action:'ensure_page',path:'/pages/tiktok',intent:'link-in-bio-router'}]}}});\njobs.push({queue:'shopify',priority:'high', job:{type:'command.create',to:'ShopifyAgent',idempotency_key:fnv1a('shopify|discount|GETVALUE10'), payload:{actions:[{action:'create_discount',code:'GETVALUE10',type:'percentage',value:10,applies_to:'services',status:'active'}]}}});\njobs.push({queue:'shopify',priority:'normal', job:{type:'command.create',to:'ShopifyAgent',idempotency_key:fnv1a('shopify|pixel_verify'), payload:{actions:[{action:'verify_pixel',provider:'tiktok',should_exist:true},{action:'emit_test_event',event:'ViewContent',meta:{page:'/pages/tiktok'}},{action:'emit_test_event',event:'Lead',meta:{source:'wiw'}}]}}});\nreturn jobs.map(j=>({json:{body:{token:HUB_TOKEN,queue:j.queue,priority:j.priority,job:j.job}}}));\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -740,
          0
        ],
        "name": "Build Payloads"
      },
      {
        "parameters": {
          "fieldToSplitOut": "items"
        },
        "type": "n8n-nodes-base.itemLists",
        "typeVersion": 1,
        "position": [
          -540,
          0
        ],
        "name": "As Items"
      },
      {
        "parameters": {
          "url": "https://script.google.com/macros/s/AKfycbzcY4EdMsxqLyF9_L0TLxJnxJBG74hvFrJ148nVUPOcByGBBbuUhVk692z6Xdrtso3n/exec?cmd=queue.push",
          "method": "POST",
          "sendBody": true,
          "jsonParameters": true,
          "responseFormat": "json",
          "options": {
            "timeout": 30000
          },
          "bodyParametersJson": "={{$json.body}}"
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 5,
        "position": [
          -340,
          0
        ],
        "name": "Push \u2192 Hub"
      },
      {
        "parameters": {
          "url": "https://script.google.com/macros/s/AKfycbzcY4EdMsxqLyF9_L0TLxJnxJBG74hvFrJ148nVUPOcByGBBbuUhVk692z6Xdrtso3n/exec?cmd=queue.peek&queue=ops&limit=20&token=NOTEFINDER_SYNC_TOKEN_01",
          "method": "GET",
          "responseFormat": "json",
          "options": {
            "timeout": 20000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 5,
        "position": [
          -140,
          -120
        ],
        "name": "Peek ops"
      },
      {
        "parameters": {
          "url": "https://script.google.com/macros/s/AKfycbzcY4EdMsxqLyF9_L0TLxJnxJBG74hvFrJ148nVUPOcByGBBbuUhVk692z6Xdrtso3n/exec?cmd=queue.peek&queue=shopify&limit=20&token=NOTEFINDER_SYNC_TOKEN_01",
          "method": "GET",
          "responseFormat": "json",
          "options": {
            "timeout": 20000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 5,
        "position": [
          -140,
          0
        ],
        "name": "Peek shopify"
      },
      {
        "parameters": {
          "url": "https://script.google.com/macros/s/AKfycbzcY4EdMsxqLyF9_L0TLxJnxJBG74hvFrJ148nVUPOcByGBBbuUhVk692z6Xdrtso3n/exec?cmd=queue.peek&queue=dlq&limit=10&token=NOTEFINDER_SYNC_TOKEN_01",
          "method": "GET",
          "responseFormat": "json",
          "options": {
            "timeout": 20000,
            "ignoreResponseCode": true
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 5,
        "position": [
          -140,
          120
        ],
        "name": "Peek dlq"
      },
      {
        "parameters": {
          "url": "https://script.google.com/macros/s/AKfycbzcY4EdMsxqLyF9_L0TLxJnxJBG74hvFrJ148nVUPOcByGBBbuUhVk692z6Xdrtso3n/exec?cmd=status&token=NOTEFINDER_SYNC_TOKEN_01&threshold_s=900",
          "method": "GET",
          "responseFormat": "json",
          "options": {
            "timeout": 20000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 5,
        "position": [
          -140,
          240
        ],
        "name": "Status"
      },
      {
        "parameters": {
          "functionCode": "const ops = $items('Peek ops').first().json || {}; const shp = $items('Peek shopify').first().json || {}; const dlq = $items('Peek dlq').first().json || {}; const st  = $items('Status').first().json || {}; return [{json:{ ok:!!st.ok, ops:(ops.count|| (ops.items||[]).length||0), shopify:(shp.count||(shp.items||[]).length||0), dlq:(dlq.count||(dlq.items||[]).length||0), silent: (st.agents?.silent||[]), overdue: (st.queue?.overdue||0) }}];"
        },
        "type": "n8n-nodes-base.function",
        "typeVersion": 2,
        "position": [
          60,
          60
        ],
        "name": "Summarize"
      },
      {
        "parameters": {
          "conditions": {
            "number": [
              {
                "value1": "={{$json.dlq}}",
                "operation": "larger",
                "value2": 0
              },
              {
                "value1": "={{$json.overdue}}",
                "operation": "larger",
                "value2": 0
              }
            ]
          }
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          260,
          60
        ],
        "name": "Any issue?"
      },
      {
        "parameters": {
          "url": "https://script.google.com/macros/s/AKfycbzcY4EdMsxqLyF9_L0TLxJnxJBG74hvFrJ148nVUPOcByGBBbuUhVk692z6Xdrtso3n/exec?cmd=queue.push",
          "method": "POST",
          "sendBody": true,
          "jsonParameters": true,
          "options": {
            "timeout": 15000,
            "ignoreResponseCode": true
          },
          "bodyParametersJson": "={{ { token: \"NOTEFINDER_SYNC_TOKEN_01\", queue:'ops', priority:'low', job: { type:'health.alert', payload: { dlq: $json.dlq, overdue: $json.overdue } } } }}"
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 5,
        "position": [
          460,
          20
        ],
        "name": "Alert \u2192 Hub"
      }
    ],
    "connections": {
      "Cron 09:00 PT": {
        "main": [
          [
            {
              "node": "Build Payloads",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Payloads": {
        "main": [
          [
            {
              "node": "As Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "As Items": {
        "main": [
          [
            {
              "node": "Push \u2192 Hub",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Push \u2192 Hub": {
        "main": [
          [
            {
              "node": "Peek ops",
              "type": "main",
              "index": 0
            },
            {
              "node": "Peek shopify",
              "type": "main",
              "index": 0
            },
            {
              "node": "Peek dlq",
              "type": "main",
              "index": 0
            },
            {
              "node": "Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Peek ops": {
        "main": [
          [
            {
              "node": "Summarize",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Peek shopify": {
        "main": [
          [
            {
              "node": "Summarize",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Peek dlq": {
        "main": [
          [
            {
              "node": "Summarize",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Status": {
        "main": [
          [
            {
              "node": "Summarize",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Any issue?": {
        "main": [
          [
            {
              "node": "Alert \u2192 Hub",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      }
    }
  },
  {
    "name": "NF \u2014 RouterAgent v1",
    "nodes": [
      {
        "parameters": {
          "triggerTimes": {
            "item": [
              {
                "mode": "everyX",
                "unit": "seconds",
                "value": 15
              }
            ]
          }
        },
        "type": "n8n-nodes-base.cron",
        "typeVersion": 1,
        "position": [
          -980,
          0
        ],
        "name": "Cron 15s"
      },
      {
        "parameters": {
          "url": "https://script.google.com/macros/s/AKfycbzcY4EdMsxqLyF9_L0TLxJnxJBG74hvFrJ148nVUPOcByGBBbuUhVk692z6Xdrtso3n/exec?cmd=queue.pull&queue=ops&limit=1&lease_s=60&token=NOTEFINDER_SYNC_TOKEN_01",
          "method": "GET",
          "responseFormat": "json",
          "options": {
            "timeout": 20000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 5,
        "position": [
          -760,
          0
        ],
        "name": "Pull ops"
      },
      {
        "parameters": {
          "functionCode": "const pulled = $items('Pull ops').first().json || {}; const items = Array.isArray(pulled.items)? pulled.items : []; if(!items.length) return []; return items.map(it=>({json:{receipt: it.receipt || it.id || it.lease_id || '', job: it.job || {}, payload: (it.job||{}).payload || {}}}));"
        },
        "type": "n8n-nodes-base.function",
        "typeVersion": 2,
        "position": [
          -560,
          0
        ],
        "name": "Unpack"
      },
      {
        "parameters": {
          "url": "https://script.google.com/macros/s/AKfycbzcY4EdMsxqLyF9_L0TLxJnxJBG74hvFrJ148nVUPOcByGBBbuUhVk692z6Xdrtso3n/exec?cmd=vars.get&key=ROUTE_URLS&token=NOTEFINDER_SYNC_TOKEN_01",
          "method": "GET",
          "responseFormat": "json",
          "options": {
            "timeout": 15000,
            "ignoreResponseCode": true
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 5,
        "position": [
          -760,
          180
        ],
        "name": "Load ROUTE_URLS"
      },
      {
        "parameters": {
          "jsCode": "const raw = $items('Load ROUTE_URLS').first().json?.value; let m={}; try{ m = typeof raw==='string' ? JSON.parse(raw) : (raw||{});}catch(e){ m={}; } return [{json:{ROUTE_URLS:m}}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -560,
          180
        ],
        "name": "Parse ROUTE_URLS"
      },
      {
        "parameters": {
          "functionCode": "const route = $json.payload?.route || ''; const urls = $items('Parse ROUTE_URLS').first().json.ROUTE_URLS || {}; const map = { instagram: urls.INSTAGRAM_URL || '', pinterest: urls.PINTEREST_URL || '', x: urls.X_URL || '', sms: urls.SMS_URL || '' }; const url = map[route] || ''; const now = new Date(); const hour = now.getHours(); const bhStart = 8; const bhEnd = 20; const inHours = (hour>=bhStart && hour<bhEnd) || route!=='sms'; return [{json:{target:url, inHours, route}}];"
        },
        "type": "n8n-nodes-base.function",
        "typeVersion": 2,
        "position": [
          -360,
          0
        ],
        "name": "Decide Target"
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{$json.target}}",
                "operation": "isEmpty"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -160,
          0
        ],
        "name": "Have URL?"
      },
      {
        "parameters": {
          "url": "https://script.google.com/macros/s/AKfycbzcY4EdMsxqLyF9_L0TLxJnxJBG74hvFrJ148nVUPOcByGBBbuUhVk692z6Xdrtso3n/exec?cmd=queue.ack",
          "method": "POST",
          "sendBody": true,
          "jsonParameters": true,
          "options": {
            "timeout": 15000,
            "ignoreResponseCode": true
          },
          "bodyParametersJson": "={\"token\":\"NOTEFINDER_SYNC_TOKEN_01\",\"receipt\":\"{{$json.receipt}}\",\"result\":{\"ok\":false,\"error\":\"missing_route_url\",\"route\":\"{{$json.route}}\"}}"
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 5,
        "position": [
          40,
          -80
        ],
        "name": "ACK \u2192 FAIL (no URL)"
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{$json.inHours ? 'y':''}}",
                "operation": "isEmpty"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -160,
          140
        ],
        "name": "In business hours?"
      },
      {
        "parameters": {
          "url": "https://script.google.com/macros/s/AKfycbzcY4EdMsxqLyF9_L0TLxJnxJBG74hvFrJ148nVUPOcByGBBbuUhVk692z6Xdrtso3n/exec?cmd=queue.ack",
          "method": "POST",
          "sendBody": true,
          "jsonParameters": true,
          "options": {
            "timeout": 15000,
            "ignoreResponseCode": true
          },
          "bodyParametersJson": "={\"token\":\"NOTEFINDER_SYNC_TOKEN_01\",\"receipt\":\"{{$json.receipt}}\",\"result\":{\"ok\":true,\"suppressed\":true,\"reason\":\"outside_hours\"}}"
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 5,
        "position": [
          40,
          200
        ],
        "name": "ACK \u2192 Suppressed"
      },
      {
        "parameters": {
          "url": "={{$json.target}}",
          "method": "POST",
          "sendBody": true,
          "jsonParameters": true,
          "options": {
            "timeout": 30000,
            "ignoreResponseCode": true
          },
          "bodyParametersJson": "={{$json.payload}}"
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 5,
        "position": [
          40,
          40
        ],
        "name": "POST \u2192 Channel"
      },
      {
        "parameters": {
          "url": "https://script.google.com/macros/s/AKfycbzcY4EdMsxqLyF9_L0TLxJnxJBG74hvFrJ148nVUPOcByGBBbuUhVk692z6Xdrtso3n/exec?cmd=queue.ack",
          "method": "POST",
          "sendBody": true,
          "jsonParameters": true,
          "options": {
            "timeout": 15000
          },
          "bodyParametersJson": "={\"token\":\"NOTEFINDER_SYNC_TOKEN_01\",\"receipt\":\"{{$json.receipt}}\",\"result\":{\"ok\":true}}"
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 5,
        "position": [
          240,
          40
        ],
        "name": "ACK \u2192 OK"
      }
    ],
    "connections": {
      "Cron 15s": {
        "main": [
          [
            {
              "node": "Pull ops",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pull ops": {
        "main": [
          [
            {
              "node": "Unpack",
              "type": "main",
              "index": 0
            },
            {
              "node": "Load ROUTE_URLS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load ROUTE_URLS": {
        "main": [
          [
            {
              "node": "Parse ROUTE_URLS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Unpack": {
        "main": [
          [
            {
              "node": "Decide Target",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Decide Target": {
        "main": [
          [
            {
              "node": "Have URL?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Have URL?": {
        "main": [
          [
            {
              "node": "ACK \u2192 FAIL (no URL)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "In business hours?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "In business hours?": {
        "main": [
          [
            {
              "node": "POST \u2192 Channel",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "ACK \u2192 Suppressed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "POST \u2192 Channel": {
        "main": [
          [
            {
              "node": "ACK \u2192 OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  {
    "name": "NF \u2014 ShopifyAgent v1",
    "nodes": [
      {
        "parameters": {
          "triggerTimes": {
            "item": [
              {
                "mode": "everyX",
                "unit": "seconds",
                "value": 20
              }
            ]
          }
        },
        "type": "n8n-nodes-base.cron",
        "typeVersion": 1,
        "position": [
          -860,
          0
        ],
        "name": "Cron 20s"
      },
      {
        "parameters": {
          "url": "https://script.google.com/macros/s/AKfycbzcY4EdMsxqLyF9_L0TLxJnxJBG74hvFrJ148nVUPOcByGBBbuUhVk692z6Xdrtso3n/exec?cmd=queue.pull&queue=shopify&limit=1&lease_s=90&token=NOTEFINDER_SYNC_TOKEN_01",
          "method": "GET",
          "responseFormat": "json",
          "options": {
            "timeout": 20000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 5,
        "position": [
          -640,
          0
        ],
        "name": "Pull shopify"
      },
      {
        "parameters": {
          "functionCode": "const p = $items('Pull shopify').first().json || {}; const items = Array.isArray(p.items)? p.items: []; if(!items.length) return []; return items.map(it=>({json:{receipt: it.receipt||it.id||'', actions: (it.job||{}).payload?.actions || []}}));"
        },
        "type": "n8n-nodes-base.function",
        "typeVersion": 2,
        "position": [
          -440,
          0
        ],
        "name": "Unpack actions"
      },
      {
        "parameters": {
          "functionCode": "const hasCreds = !!($env.SHOPIFY_ACTIONS_URL); return [{json:{dry: !hasCreds}}];"
        },
        "type": "n8n-nodes-base.function",
        "typeVersion": 2,
        "position": [
          -440,
          180
        ],
        "name": "Check cfg"
      },
      {
        "parameters": {
          "url": "={{$env.SHOPIFY_ACTIONS_URL}}",
          "method": "POST",
          "sendBody": true,
          "jsonParameters": true,
          "options": {
            "timeout": 25000,
            "ignoreResponseCode": true
          },
          "bodyParametersJson": "={{ { actions: $json.actions } }}"
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 5,
        "position": [
          -240,
          -20
        ],
        "name": "Forward \u2192 Your Shopify Worker"
      },
      {
        "parameters": {
          "url": "https://script.google.com/macros/s/AKfycbzcY4EdMsxqLyF9_L0TLxJnxJBG74hvFrJ148nVUPOcByGBBbuUhVk692z6Xdrtso3n/exec?cmd=queue.ack",
          "method": "POST",
          "sendBody": true,
          "jsonParameters": true,
          "options": {
            "timeout": 15000
          },
          "bodyParametersJson": "={\"token\":\"NOTEFINDER_SYNC_TOKEN_01\",\"receipt\":\"{{$json.receipt}}\",\"result\":{\"ok\":true,\"dry_run\":{{$items('Check cfg').first().json.dry}}}}"
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 5,
        "position": [
          -40,
          -20
        ],
        "name": "ACK \u2192 OK"
      },
      {
        "parameters": {
          "url": "https://script.google.com/macros/s/AKfycbzcY4EdMsxqLyF9_L0TLxJnxJBG74hvFrJ148nVUPOcByGBBbuUhVk692z6Xdrtso3n/exec?cmd=queue.push",
          "method": "POST",
          "sendBody": true,
          "jsonParameters": true,
          "options": {
            "timeout": 15000,
            "ignoreResponseCode": true
          },
          "bodyParametersJson": "={{ { token: \"NOTEFINDER_SYNC_TOKEN_01\", queue:'dlq', priority:'low', job: { fail_reason: 'shopify_actions_url_missing' } } }}"
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 5,
        "position": [
          -240,
          120
        ],
        "name": "DLQ (missing cfg)"
      }
    ],
    "connections": {
      "Cron 20s": {
        "main": [
          [
            {
              "node": "Pull shopify",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pull shopify": {
        "main": [
          [
            {
              "node": "Unpack actions",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Unpack actions": {
        "main": [
          [
            {
              "node": "Forward \u2192 Your Shopify Worker",
              "type": "main",
              "index": 0
            },
            {
              "node": "Check cfg",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Forward \u2192 Your Shopify Worker": {
        "main": [
          [
            {
              "node": "ACK \u2192 OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check cfg": {
        "main": [
          [
            {
              "node": "DLQ (missing cfg)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
]